<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="tbb" version="4.2.3.1" targetFramework="native" />
  <package id="tbb.redist" version="4.2.3.1" targetFramework="native" />
  <package id="tbb_oss" version="9.103.0.0" targetFramework="native" />
  <package id="tbb_oss.redist" version="9.103.0.0" targetFramework="native" />
</packages>